html {
  background-color: #f5f2f0;
  font-family: Georgia, serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Denk One";
  color: #623b0c;
  padding-left: 1rem;
  margin-top: .5em;
  margin-bottom: .38em;
}

h2 {
  font-family: "Denk One";
  color: #623b0c;
  justify-content: center;
  padding-bottom: .3rem;
  padding-top: .17rem;
  margin-top: 0;
}

img {
  width: 100%;
  margin: 0;
}

ol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .6em;
  padding-bottom: 1rem;
  border-radius: 8px;
  margin: 0;
}

li {
  list-style: none;
  padding: 1rem;
  background-color: #ede3db;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1.83px solid #623b0c;
}

a {
  font-family: Georgia;
  color: #fff;
  background-color: #623b0c;
  padding-left: .75rem;
  padding-bottom: .6rem;
  padding-top: .5rem;
  text-decoration: none;
  border-radius: 8px;
  justify-content: space-between;
  margin-top: auto;
}

ul {
  grid-column: auto;
}

p {
  font-family: Georgia;
  padding-top: 1.3rem;
  padding-bottom: 1.5rem;
  margin: 0;
}
